<div class="jumbotron center">
	<h1>FAQs</h1>
	<h2>- What is Honey Roasted</h2>
	<p> Honey Roasted is a way of life. <!--Honey Roasted is a mix between classines and confidence. The best example of Honey Roasted is a rich middle aged man. --> </p>
	<h2>- How do you become Honey Roasted</h2> 
	<p> The best way to be Honey Roasted is to be a mix between classines and confidence. The best example of Honey Roasted is a rich middle aged man. </p>
</div>
